In [75]:
import pandas as pd

df = pd.read_csv("datapoints.txt")
df.columns = df.columns.str.replace("(", "").str.replace(")", "")
df.columns = df.columns.str.strip().str.replace(" ", "_")
df["Pichu-0_pikachu-1"] = df["label_0-pichu"]
df = df.drop(["label_0-pichu", "1-pikachu"], axis = 1)
df.columns = df.columns.str.capitalize()

In [78]:
pikachu = df[df["Pichu-0_pikachu-1"] == 1]
pichu = df[df["Pichu-0_pikachu-1"] == 0]

In [ ]:
import matplotlib.pyplot as plt
plt.scatter(x = pichu["width_cm"], y = pichu["height_cm"], color = "red")
plt.scatter(x = pikachu["width_cm"], y = pikachu["height_cm"], color = "blue")
plt.show()

In [103]:
test_df = pd.read_csv("testpoints.txt")
test_df

         Test points:
1. (25            32)
2. (24.2        31.5)
3. (22            34)
4. (20.5          34)

In [87]:
from sklearn.model_selection import train_test_split
x = df[["Width_cm", "Height_cm"]] # features
y = df["Pichu-0_pikachu-1"] # label
x_train,x_test, y_train, y_test = train_test_split(x, y, random_state = 26, test_size = 0.2) # Dela upp i training och testing data.