In [15]:
import pandas as pd
city_name = ["Malmö", "Göteborg", "Stockholm", "Uppsala"]
polulation = [347949, 583056, 975551, 233839]

df = pd.DataFrame({"Kommun": city_name, "Population": polulation})
print(df["Kommun"], "\n")
print(df[df["Kommun"] == "Göteborg"], "\n")
print(sorted(df["Population"]))
df["procentage"] = round(df["Population"]/10379295*100, 1)
df

0        Malmö
1     Göteborg
2    Stockholm
3      Uppsala
Name: Kommun, dtype: object

     Kommun  Population
1  Göteborg      583056

[233839, 347949, 583056, 975551]

      Kommun  Population  procentage
0      Malmö      347949         3.4
1   Göteborg      583056         5.6
2  Stockholm      975551         9.4
3    Uppsala      233839         2.3

In [ ]:
re = pd.Series(